.navbar{
    list-style: none;
    display: flex;
    font-size: x-large;
    gap: 150px;
    white-space: nowrap;
}

.landingpage{
    display: flex;
    gap: 200px;
    width:90%;
    white-space: nowrap;
    
}
#logo{
    width:250px ;
    height: 150px;
}
#header{
   text-align: center;
   font-size: x-large;
}

#goal{
  border: 2px solid; 
  width: 60%;
  height: 60%;
 align-self:normal;
 text-align: center;
 font-size: xx-large;
 color: red;
 border-radius: 20%;
 margin-top: 10%;

 
}

.goal{
    color: black;
    font-size: medium;
}

.footer{
    display: flex;
    width: 50%;
    gap: 650px;
    white-space: nowrap;
    font-size: larger;
    margin-top: 5%;
    background-color:#22E6D4;
    padding-right: 40%;
    padding-left: 10%;
    padding-top: 1%;

}
