.navbar{
    list-style: none;
    display: flex;
    font-size: large;
    gap: 220px;
    white-space: nowrap;
}
.navbar a{
    text-decoration: none;
    color: black;
}
#logo{
    width:200px ;
    height: 100px;
}
.landingpage{
    list-style: none;
    display: flex;
    width: 50%;
    border-radius: 30%;
    gap: 200px;
    padding-left: 4%;
    

}
.details{
white-space: nowrap;
font-size: 40px;
padding-top: 20%;
}

#heading{
    text-align: center;
    font-size: large;
}

.footer{
    display: flex;
    width: 40%;
    gap: 300px;
    white-space: nowrap;
    font-size: large;
    margin-top: 70px;
    background-color:#22E6D4;
    padding-right: 50%;
    padding-left: 10%;
   align-items:flex-end;
}
.icons{
    display: flex;
    align-items:flex-end;
    gap: 30px;
 }

 @media screen and (max-width: 500px){
    .navbar{
        list-style: none;
     flex-wrap: wrap;
        font-size: medium;
        gap: 10px;
        white-space: nowrap;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    #logo{
        width:20px ;
        height: 10px;
    }
    .landingpage{
        list-style: none;
        flex-wrap: wrap;
        width: 50%;
        border-radius: 30%;
        gap: 20px;
        padding-left: 4%;
        padding-top: -2%;
    
    }
    .details{
        text-align: center;
        font-size: large;
    }
    
    .footer{
        flex-wrap: wrap;
        width: 40%;
        gap: 30px;
        white-space: nowrap;
        font-size: large;
        margin-top: 70px;
        background-color:#22E6D4;
        padding-right: 50%;
        padding-left: 10%;
       align-items:flex-end;
    }
    .icons{
       flex-wrap: wrap;
        align-items:flex-end;
        gap: 30px;
     }  
 }

 @media screen and (max-width: 720px){
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: large;
        gap: 30px;
        white-space: nowrap;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    #logo{
        width:30px ;
        height: 10px;
    }
    .landingpage{
        list-style: none;
        flex-wrap: wrap;
        width: 50%;
        border-radius: 30%;
        gap: 20px;
        padding-left: 4%;
        
    
    }
    .details{
    white-space: nowrap;
    font-size: medium;
    padding-top: 10%;
    }
    
    #heading{
        text-align: center;
        font-size: large;
    }
    
    .footer{
      flex-wrap: wrap;
        width: 40%;
        gap: 30px;
        white-space: nowrap;
        font-size: large;
        margin-top: 70px;
        background-color:#22E6D4;
        padding-right: 50%;
        padding-left: 10%;
       align-items:flex-end;
    }
    .icons{
        flex-wrap: wrap;
        align-items:flex-end;
        gap: 30px;
     }  
 }

 @media screen and (max-width: 940px){
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: large;
        gap: 20px;
        white-space: nowrap;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    #logo{
        width:20px ;
        height: 10px;
    }
    .landingpage{
        list-style: none;
       flex-wrap: wrap;
        width: 50%;
        border-radius: 30%;
        gap: 20px;
        padding-left: 4%;
        
    
    }
    .details{
    white-space: nowrap;
    font-size: large;
    padding-top: 20%;
    }
    
    #heading{
        text-align: center;
        font-size: large;
    }
    
    .footer{
       flex-wrap: wrap;
        width: 40%;
        gap: 30px;
        white-space: nowrap;
        font-size: large;
        margin-top: 70px;
        background-color:#22E6D4;
        padding-right: 50%;
        padding-left: 10%;
       align-items:flex-end;
    }
    .icons{
        display: inline-flex;
        align-items:flex-end;
        gap: 30px;
     }  
 }


 @media screen and (max-width: 1160px){
    .navbar{
        list-style: none;
        display: inline-flex;
        font-size: large;
        gap: 220px;
        white-space: nowrap;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    #logo{
        width:200px ;
        height: 100px;
    }
    .landingpage{
        list-style: none;
        display: inline-flex;
        width: 50%;
        border-radius: 30%;
        gap: 200px;
        padding-left: 4%;
        
    
    }
    .details{
    white-space: nowrap;
    font-size: large;
    padding-top: 20%;
    }
    
    #heading{
        text-align: center;
        font-size: large;
    }
    
    .footer{
        display: inline-flex;
        width: 40%;
        gap: 300px;
        white-space: nowrap;
        font-size: large;
        margin-top: 70px;
        background-color:#22E6D4;
        padding-right: 50%;
        padding-left: 10%;
       align-items:flex-end;
    }
    .icons{
        display: inline-flex;
        align-items:flex-end;
        gap: 30px;
     }  
 }


 @media screen and (max-width: 1368px){
    .navbar{
        list-style: none;
      flex-wrap: wrap;
        font-size: large;
        gap: 100px;
        white-space: nowrap;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    #logo{
        width:200px ;
        height: 100px;
    }
    .landingpage{
        list-style: none;
        display: inline-flex;
        width: 50%;
        border-radius: 30%;
        gap: 200px;
        padding-left: 4%;
        
    
    }
    .details{
    white-space: nowrap;
    font-size: x-large;
    padding-top: 20%;
    }
    
    #heading{
        text-align: center;
        font-size: large;
    }
    
    .footer{
       flex-wrap: wrap;
        width: 40%;
        gap: 100px;
        white-space: nowrap;
        font-size: larger;
        margin-top: 70px;
        background-color:#22E6D4;
        padding-right: 50%;
        padding-left: 10%;
       align-items:flex-end;
    }
    .icons{
        display: flex;
        align-items:flex-end;
        gap: 30px;
     }  
 }

