body{
    box-sizing:border-box;
}
.navbar a{
    text-decoration: none;
    color: black;
}

.navbar{
    list-style: none;
    display: flex;
    font-size: large;
    gap: 220px;
    white-space: nowrap;

}
#logo{
    width:200px ;
    height: 100px;
}
#user{
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;
    white-space: nowrap;
    margin-top: 3%;
    

}
#achievements{
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;
    white-space: nowrap;
    margin-top: 3%;

}
#password{
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;
    white-space: nowrap;
    margin-top: 3%;
}
#gmail{
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;
    white-space: nowrap;
    margin-top: 3%;
}  

.input{
    padding: 20px;
    width: 70%;
    margin-left: 27%;
    padding-top: 130px;

    
}
#signin{
    background-color: #22E6D4;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;
    white-space: nowrap;
    margin-top: 3%; 
   margin-left:160px;
   border-radius: 20%;
}


 @media screen and (max-width: 500px){
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: medium;
        white-space: nowrap;
        
    }
    #logo{
        width:50px ;
        height: 40px;
    }
    #user{
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size:medium;
        margin-top: 3%;
        
    
    }
    #achievements{
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size:medium;
        margin-top: 3%;
    
    }
    #password{
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size:medium;
        margin-top: 3%;
    }
    #gmail{
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size:medium;
        margin-top: 3%;
    }  
    
    .input{
        padding: 20px;
      width: 25%;
      margin-left: -5%;
     
       }
    #signin{
        background-color: #22E6D4;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: small;
        white-space: wrap;
        margin-top: 3%;
       border-radius: 20%;
    }
  
   
    } 

 @media screen and (max-width: 720px){
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: medium;
        gap: 22px;
        white-space: nowrap;
    }
    #logo{
        width:50px ;
        height: 40px;
    }
    #user{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
        
    
    }
    #achievements{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    
    }
    #password{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }
    #gmail{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }  
    .input{
        padding: 20px;
      width: 25%;
      margin-left: -10%;
     
       }
    #signin{
        background-color: #22E6D4;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%; 
       margin-left:16px;
       border-radius: 20%;
    }
   
    } 
 @media screen and (max-width: 940px){
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: medium;
        gap: 22px;
        white-space: nowrap;
    }
    #logo{
        width:50px ;
        height: 40px;
    }
    #user{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
        
    
    }
    #achievements{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    
    }
    #password{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }
    #gmail{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }  
    
    .input{
        padding: 20px;
      width: 25%;
      margin-left: -6%;
     
       }
    #signin{
        background-color: #22E6D4;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%; 
       margin-left:16px;
       border-radius: 20%;
    }

    } 
 
 @media screen and (max-width: 1160px){
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar{
        list-style: none;
        flex-wrap: wrap;
        font-size: medium;
        gap: 22px;
        white-space: nowrap;
    }
    #logo{
        width:50px ;
        height: 40px;
    }
    #user{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
        
    
    }
    #achievements{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    
    }
    #password{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }
    #gmail{
        padding-right: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%;
    }  
    
    .input{
        padding: 20px;
      width: 25%;
      margin-left: -10%;
     
       }
    #signin{
        background-color: #22E6D4;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        white-space: nowrap;
        margin-top: 3%; 
       margin-left:16px;
       border-radius: 20%;
    }
   
    } 

 @media screen and (max-width: 1280px){
    body{
        box-sizing:border-box;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar{
        list-style: none;
        display: inline-flex;
        gap: 90px;
        flex-wrap: wrap;
        font-size: larger;
    }
    #logo{
        width:140px ;
        height: 90px;
        display: inline-flex;
    }
    #user{
        padding-right: 40%;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: x-large;
        white-space: wrap;
        margin-top: 3%;
        
    
    }
    #achievements{
        padding-right: 40%;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: x-large;
        white-space: wrap;
        margin-top: 4%;
    
    }
    #password{
        padding-right: 40%;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: x-large;
        white-space: wrap;
        margin-top: 3%;
    }
    #gmail{
        padding-right: 40%;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: x-large;
        white-space: wrap;
        margin-top: 3%;
    }  
    
    .input{
        padding: 20px;
      width: 25%;
     
     
       }
    #signin{
        background-color: #22E6D4;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size:x-large;
        white-space: nowrap;
        margin-top: 13%; 
       margin-left:16px;
       border-radius: 20%;
    }
  

 }